<div class="note " (keyup.enter)="count()">
    <div class="viewnum">
        <div class="memory">M:{{mnum}}</div>
        <div class="detail num">{{detail_num}}</div>
        <div class="result num">{{result}}</div>
    </div>

        <button mat-icon-button class="mtbtn" routerLink="/history">
            <mat-icon>history</mat-icon>
        </button>

    <div class="inputButton" >
        <div class="btn_box">
            <button type="button" class="num_btn f0"  (click)="special_count('log')" >log</button>
            <button type="button" class="num_btn f1"  (click)="special_count('√')" >√</button>
            <button type="button" class="num_btn f2"  (click)="special_count('^')" >x²</button>
            <button type="button" class="num_btn f3"  (click)="clear()" >C</button>
            <button type="button" class="num_btn f4"  (click)="sign_change('/')" >/</button>
        </div>
        <div class="btn_box">   
            <button type="button" class="num_btn f0"  (click)="memory('c')" >MC</button>
            <button type="button" class="num_btn f1"  (click)="String_addition(7)" >7</button>
            <button type="button" class="num_btn f2"  (click)="String_addition(8)" >8</button>
            <button type="button" class="num_btn f3"  (click)="String_addition(9)" >9</button>
            <button type="button" class="num_btn f4"  (click)="sign_change('*')" >x</button>
        </div>
        <div class="btn_box">
            <button type="button" class="num_btn f1"  (click)="memory('+')" >M+</button>
            <button type="button" class="num_btn f1"  (click)="String_addition(4)" >4</button>
            <button type="button" class="num_btn f2"  (click)="String_addition(5)" >5</button>
            <button type="button" class="num_btn f3"  (click)="String_addition(6)" >6</button>
            <button type="button" class="num_btn f4"  (click)="sign_change('+')" >+</button>
        </div>
        <div class="btn_box">
            <button type="button" class="num_btn f0"  (click)="memory('-')" >M-</button>
            <button type="button" class="num_btn f1"  (click)="String_addition(1)" >1</button>
            <button type="button" class="num_btn f2"  (click)="String_addition(2)" >2</button>
            <button type="button" class="num_btn f3"  (click)="String_addition(3)" >3</button>
            <button type="button" class="num_btn f4"  (click)="sign_change('-')" >-</button>
        </div>
        <div class="btn_box">
            <button type="button" class="num_btn f0"  (click)="memory('r')" >MR</button>
            <button type="button" class="num_btn f1" (click)="String_addition(0)">0</button>
            <button type="button" class="num_btn f2" (click)="String_addition('00')">00</button>
            <button type="button" class="num_btn f3" (click)="String_addition('.')">.</button>
            <button type="button" class="num_btn f4"  (click)="history('=')" >=</button>

        </div>

</div>

