.flex-container {
    flex-wrap:  wrap;
    align-items:stretch;
}
    
.note{
position:relative;
margin: auto;
width:30vw;
height:80vh;
    
text-overflow: ellipsis; 
overflow: hidden; 
display: block; 
white-space: nowrap;
    
border:2px #CECEFF;
border-radius: 10px;
border-style: solid;
    
}
    
.viewnum{
margin:1vh 0.5vw 0.2vh 0.5vw ;
border:2px #CECEFF;
border-radius: 10px;
border-style: solid;
}

.memory{
height:3vh;
}

.detail {
font-size:10vmin;
height:10vh;
}
    
.result{
font-size:30px;
}

.num{
text-align: right;
}

.inputButton{
position:absolute;
bottom:10px;
width: 100%;
}   

.btn_box{
display: flex;
}


.num_btn{  
margin-left: 0.3vw;
background-color: #ffffff;
margin-top:3px;
height:10vh;

border:2px #CECEFF;
border-radius: 10px;
border-style: solid;
}

.num_btn:hover{  
background-color:#B9B9FF;

}

.f0{
flex-basis:21%
}

.f1{
flex-basis: 21%;
margin-left:0.3vw;
}

.f2{
flex-basis: 21%;
}

.f3{
flex-basis: 21%;
}

.f4{
flex-basis: 10%;
margin-right: 0.3vw;
}

